{% extends "layout.html.twig" %}

{% block content %}
    Current IP: {{ clientIp }} <br>
    <button class="js-get-geo-location">Get Geo Location</button>
    <div class="js-show-geo-location"></div>

    <script>
        const getGeoLocation =  () => {
          let xmlhttp = new XMLHttpRequest();

          xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
              if (xmlhttp.status === 200) {
                  const responseJSON = JSON.parse(xmlhttp.responseText);
                  let convertedText = `Country :${responseJSON.country}<br>City :${responseJSON.city}`;

                  document.querySelector(".js-show-geo-location").innerHTML = convertedText;
              }
              else if (xmlhttp.status === 400) {
                alert('There was an error 400');
              }
              else {
                alert('something else other than 200 was returned');
              }
            }
          };

          xmlhttp.open("GET", "{{ path('geoLocation') }}", true);
          xmlhttp.send();
        };

        document.onreadystatechange = function () {
          if (document.readyState === "interactive") {
            const buttonGeoLocation = document.querySelector('.js-get-geo-location');

            buttonGeoLocation.addEventListener('click', getGeoLocation);
          }
        };

    </script>
{% endblock %}
